.wrapper{
    width: 100%;
    height: 400px;
    padding: 15px;
    overflow-y: auto;
}

.wrapper::-webkit-scrollbar{
    width: 3px;
    background-color: #ddd;
}

.wrapper::-webkit-scrollbar-thumb{
    background-color: #444;
}

/*.wrapper .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}*/